<div style="text-align: center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
        <form id="f01" formGroup="formGroup">
            <label>
             Usuario: 
        </label>
            <input text="text" formControlName="usuario" placeholder="Usuario">
            <br>
            <label>
            Contraseña: 
        </label>
            <input text="password" formControlName="pass" placeholder="Contraseña">
            <br>
            <button type="button" class="btn btn-primary btn-sms" (click)="Entrar()">Ingresar</button>
        </form>
    </div>